 /* html{
  background: url("https://68.media.tumblr.com/38690e8a3ef10fdd48f3149aea965570/tumblr_ohda21XwTf1slzt2wo1_500.gif");
} */

/*.thisStar{
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block;
    text-align:center;
  }

img {height: 140px;
    width: 200px;
    display: inline-block;
    border:3px solid rgba(255,255,255,.4);
  border-radius: 50%;
    margin-left:20px;
  }



header {
    background:black;
    background-size: 100%;
    background-position: center;
    opacity: 0.6 ;
    border:2px solid black;
  }

.container ,.starindex, .newstar, .editrow, .signup, .usersShow , .editstar, .show{
    position: relative;
    left:36%;
    color: white;
    font-size: 25px;
  }

 .container , .newstar,.editrow,.show , .usersShow{
    height: 245px;
    width: 400px;
    border: 3px solid rgba(255,255,255,0.4);
    border-radius: 47%;
    text-align:center;
  }

.login , .starindex, .usersIndex{
    margin-top: 69px;
  }

.starindex , .rmstar{
    position: relative;
    left: 50%;
  }
  .rmstar{
    margin-bottom:-70px;
  }
.newstar{
    padding-top: 20px;
  }
  #newbutton {
    background: black;
    color: white;
  }

li{
    list-style:none;
  }

#editimage{
    font-size: 15px;
    margin-right: 30px;
  }
#edit{
    margin-left: 20px;
  }
  .signup{
    font-size:50px;
    border: 3px solid rgba(255,255,255,0.6);
    width: 400px;
    height: 200px;
    text-align:center;
  }
table, td, th {
    border: 1px solid white;
    color: white;
  }

table{
    border-collapse: collapse;
    width: 100%;
    color: white;
  }

td{
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    font-size: 20px;
  }
.tableImage{
    width:240px;
    margin-bottom: -10px;
    margin-left: 0;
  }

.tdImage ,.descrip{
    width:240px;
  }
.showInfo{
    margin-top: 50px;
    font-size: 25px;
    margin-right: px;
  }
*/
/* .form-group{
    margin-top: 20px;
  } */
  /* bootstrap */
.jumbotron{
  background-image: url('https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?dpr=1&auto=compress,format&fit=crop&w=1350&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  height: 100vh;
  margin: 20px;
}
.nav{
  background: black;
  color:white;
}
.container{
  padding: 30px;
}
form{
	padding: 20px;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 15px 0 rgba(0,0,0,0.12) !important;
}
h4{
    text-align: center;
}
.btn{
	border-radius: 0px;
}
.form-control{
	border-radius: 0px;
	margin-bottom: 10px;
}
/* p{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
} */
.blue{
	color: #337ab7;
}
.fa{
	color: #337ab7;
}

i{
	margin-left: 5px;
	margin-right: 5px;
}
.flip {
  -webkit-perspective: 800;
perspective: 800;

    position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
  z-index: 2;
   
}
.flip .card .front {
  position: absolute;
   width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
  .inner{margin:0px !important;}

.indexview{
  padding-bottom:40px;
  font-size: 4em;
  text-align: center;
  color: white;
  background-image: url("https://68.media.tumblr.com/38690e8a3ef10fdd48f3149aea965570/tumblr_ohda21XwTf1slzt2wo1_500.gif");
}
.card-text{
  text-align: center;
}
.main{
  display: flex;
  flex-wrap:wrap;
  margin: 50px ;
  padding: 50px;
  
}