<h1>New Constellation</h1>
<div class="newstar">
<form action="/users" method="POST">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="description">
      Description
    </label>
    <input type="text" name="Description"/>
  </div>
  <div>
  <div>
    <label for="image">
      image
    </label>
    <input type="text" name="image"/>
  </div>
    <button id = "newbutton"><a href="/users/{{user.id}}/stars">Constellation</a></button>
  </div>
</form>
</div>

 <!-- <h1>Edit Project Idea</h1>
<form action="/users/{{user.id}}/stars/" method="POST">
  <div>
    <label for="description">
      Description
    </label>
    <input type="text" name="description" value="{{star.description}}"/>
  </div>
  <div>
    <label for="star">
      In Progress?
    </label>
    <span>YES<input type="radio" name="in_progress" value="true" checked /></span>
    <span>NO<input type="radio" name="in_progress" value="false"/></span>
  </div>
  <div>
    <input type="submit" value="star"/>
  </div>
</form>
 -->
