<h1>New Constellation</h1>
<div class="newstar">
<form action="/users/{{user._id}}/stars" method="POST">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="description">
      Description
    </label>
    <input type="text" name="Description"/>
  </div>
  <div>
  <div>
    <label for="image">
      Image
    </label>
    <input type="text" name="image"/>
  </div>
  <div>
    <label for="image">
      Best Viewed
    </label>
    <input type="text" name="best_viewed"/>
  </div>
    <button id = "newbutton"><a href="/users/{{user._id}}/stars/show">Constellation</a></button>
  </div>
</form>
</div>

