<h1>New Constellation</h1>
<div class="newstar">
<form action="/users" method="POST">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="description">
      Description
    </label>
    <input type="text" name="Description"/>
  </div>
  <div>
  <div>
    <label for="image">
      image
    </label>
    <input type="text" name="image"/>
  </div>
    <button id = "newbutton"><a href="/users">Constellation</a></button>
  </div>
</form>
</div>
