
<h1>Constellations Collections</h1>

<div class="usersIndex">
<ol class="pictable">
    {{#each stars}}
  <div class="thisStar">
    <li id="starname">{{this.name}}</li>
   <span id = "image" <li><img src="{{this.image}}"></li> </span>
</div>
    {{/each}}
</ol>
</div>
