<form action="/users" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="Submit">
   <input type="submit" value="Home Page">
</form>
