<h1>Create A New Account</h1>
<div class="signup">
<form action="/users" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password"/>
  </div>

  <input type="submit" value="Submit">
 <!--  <a href="/users" class="btn btn-default">Main Page</a> -->
</form>
</div>
