<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">

  <style media = "screen">
      nav li {
       display: inline;
     }
     a {
       text-decoration: none;
     }
     nav form {
       display: inline;
     }
   </style>
    <title></title>
  </head>
  <body>
  <header>
<div class="nav">
  <nav>
     <ul>
       <li><a href="/users/signup">Signup</a> | </li>
       <li><a href="/sessions/login">Login</a> | </li>
       <li><a href="/users">Main</a> | </li>
       <li><a href="/users/{{user._id}}/stars">Profile</a> | </li>
       <li>
         <form method="post" action="/sessions?_method=DELETE">
           <button>logout</button>
         </form>
       </li>
     </ul>
   </nav>
</div>
</header>

    {{{body}}}
  </body>
</html>



