<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8"><!--
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <style media = "screen">
      nav li {
       display: inline;
     }
     a {
       text-decoration: none;
     }
     nav form {
       display: inline;
     }
   </style>
    <title></title>
  </head>
  <body>
  <!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/users">Constellation Creation</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/users/signup">Sign Up</a></li>
      <li><a href="/sessions/login">Log In</a></li>
      <li><a href="/sessions?_method=DELETE">Log Out</a></li>
      <li><a href="#">Links</a></li>
    </ul>
  </div>
</nav> -->
  <nav>
     <ul>
       <li><a href="/users/signup">signup</a> | </li>
       <li><a href="/sessions/login">login</a> | </li>
       <li>
         <form method="post" action="/sessions?_method=DELETE">
           <button>logout</button>
         </form>
       </li>
     </ul>
   </nav>
  <div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
    {{{body}}}
  </body>
</html>



